

.quiz-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}


.quiz-tile {
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.quiz-tile img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.quiz-tile.selected {
  border-color: #8e131bff;
  background-color: #ffe6f2;
}

/* Result images container */
.result-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.result-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
