.logo img {
  height: 60px;     /* adjust this number */
  width: auto;
  object-fit: contain;
}
.header {
  display: flex;
  justify-content: space-between; /* keeping the logo left and the hamburger menu right */
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(0,0,0,0.5);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #44052e;
}

/* Hamburger */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 11;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
}

.hamburger .line.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .line.open:nth-child(2) {
  opacity: 0;
}

.hamburger .line.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Hamburger Menu Links */
.nav-links {
  position: absolute;
  top: 70px; /* below header */
  right: 0;
  background-color: rgba(255,255,255,0.95);
  flex-direction: column;
  width: 200px;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  display: flex;
  gap: 15px;
  border-radius: 5px;
}

.nav-links.active {
  transform: translateX(0);
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links a:hover {
  color: #44052e;
}
